/* ./src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: black;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  padding-left: 50px;
  padding-right: 50px;
}

.swiper-slide {
  /* width: auto !important; */
}

